@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --radius: 1rem;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
